.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel .carousel-image {
  width: 100%; /* Mengisi lebar penuh dari kontainer carousel */
  max-width: 1000px; /* Menetapkan batas maksimal lebar, sesuaikan sesuai kebutuhan */
  height: auto;
}

.carousel .carousel-image img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Menjaga proporsi gambar dan mengisi kontainer */
  aspect-ratio: 4 / 1; /* Menjaga rasio 4:1 */
  border-radius: 8px; /* Menambahkan radius untuk sudut yang membulat */
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.5); /* Menambahkan bayangan ungu */
  border: 2px solid #A020F0; /* Border ungu sesuai dengan contoh gambar */
}
